* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom:30px;
    margin-top: 25px ;
    font-size: 5em;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
ul {
    background-color: #090101;
    display: flex;
    flex-flow: nowrap;  
    justify-content:center;
    align-items: center;
    min-width: 100%;
    flex-shrink: 0;
    overflow:hidden;
    margin: 0;
    padding: 0;
}

ul li { 
    list-style-type: none;
}   

ul a:hover {
    background-color: #303030;
}

ul a {    
    display: inline-block;
    padding: 25px;  
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;   
}
.dynamic{
    display: none;
}
.sidebar{
    position: fixed;
    top: 17%;
    right: 0;
    height:100vh;
    width: 250px;
    z-index:999;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width:100%
}
.newsbig {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 53px;
    margin-left: 15px;
    border: 0.001em solid #86868a;
    height: 55vh;
    max-width:98%;
    overflow: auto;
}

.newsbig .imgbn {
    max-height: 45vh;
    max-width:54% ;
    margin: 19px;
}

.newsbig .section {
    height: 500px;
    max-width: 42%;
    padding: 10px;
}

.section h3 {
    font-size: 1.7em;
    color: hsl(0, 94%, 55%);
}

.section a {
    text-decoration: none;
    color: #090101;
}

.section p {
    font-size: 1.7rem;
}

.section h2 {
    font-size: 2.7rem;
}

.animations {
    text-align: center;
    margin-left: 45vw ;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    font-size: 2.5em;
    border-radius: 25px;
    width: 240px;
    height: 50px;
    background-color: hsl(0, 98%, 61%);
    animation-name: redwhite;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes redwhite {
    0%, 50%, 100% {
        background-color: hsl(0, 98%, 61%);
        color: white;
    }
    25%, 75% {
        background-color: white;
        color: hsl(0, 98%, 61%);
    }
}

.subnews {
    display: flex;
    flex-wrap: nowrap;
    margin: 15px;
    overflow: auto;
}

.subnews .subnewssect h3 {
    margin: 12px;
    font-size: 2em;
}

.subnews .subnewssect p {
    margin: 12px;
    font-size: 1.4em;
}

.subnews .subnewssect a {
    color: black;
    text-decoration: none;
}

.subnews .news1,
.subnews .news2,
.subnews .news3 {
    border: 0.001em solid #86868a;
    height: 740px;
    max-width: 33%;    
    
}

.subnewsimg {
    margin: 15px;
    width: 95%;
    height: 250px;
}

footer {
    margin-top:65px;
    height:400px;
    width: 100vw;
    padding: 20px;
    background-color: black;
}

footer h2{
    color:aliceblue ;
    font-size: 3em;
    margin-top:25px;
    margin-left: 32px;
}
footer p {
    font-size: 1.5em;
    color:aliceblue ;
    margin-top: 24px ;
    margin-bottom:8px;
    margin-left: 35px;
}
footer img{
    height: 30px;
    width: 40px;
    margin:25px;
}
footer .linkedin{
    height:30px;
    width: 30px;
}
footer .gmail{
    height:30px;
    width:35px;
}
footer .twitter{
    height:28px;
    width: 45px;
}
@media screen and (max-width:800px) {
    .hideOnmob{
        display:none;
    }
}
@media screen and (max-width:400px) {
    .sidebar{
        width:100%
    }
}
@media screen and (max-width: 426px) {
    body{
        background-color: whitesmoke;
    }
    h1 {
        display: none;
    }

    .dynamic {
        margin-top: 20px;
        display: flex;
        font-size: 1.7em;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 104vw;
        overflow-x: auto;
    }
    .sidebar{
        top: 0%;
        height: 80vh;
        width: 100vw;
        overflow-y: scroll;
    }

    .newsbig {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        height: auto;
        width: 100vw;
        border: 1px solid #86868a;
        overflow: visible;
        transform: translateX(-12px);
    }

    .newsbig .imgbn {
        height: auto;
        width: 55vw;
        margin:12px;
    }

    .section h3 {
        font-size: 1.5em;
    }

    .newsbig .section {
        width: 100vw;
        font-size: 1em;
        margin:0 5px 0 0 ;
    }

    .newsbig p {
        display: none;
    }

    .animations {
        transform: translateX(-35px);
    }

    .subnewsimg {
        margin-top:20px;
        max-width:95vw;
        max-height:20vh;
    }

    .subnews {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: visible;
        transform: translateX(-12px);
        
    }

    .subnews .news1,
    .subnews .news2,
    .subnews .news3 {
        border: 1px solid #86868a;
        height: auto;
        width: 100%;
        overflow: visible;
    }

    footer {
        width: 100%;
        padding-top: 10%;
        margin-left: 0;
    }

    footer h2 {
        margin-left: 2px;
    }

    footer p {
        margin: 6px;
    }
}
@media screen and (max-width:770px) {
    h1{
        display: none;
    }
    .dynamic{
        margin-top: 20px;
        display:flex;
        font-size: 3em;

    }
    ul{
        display: flex;
        justify-content: space-between;
        min-width:104%;
    }
    .newsbig{
        display: flex;
        flex-wrap: wrap;
        justify-content:stretch;
        height:auto;
        width: 99%;
        border:0.001em solid #86868a;
        overflow: visible;
        margin: 25px;
    }
    .newsbig .imgbn{
        height:0%;
        min-width: 91vw;
        margin-bottom:22px ;
    }
    .section h3{
        font-size:1.2em;
    }
    .newsbig .section{
        margin-left: 20px;
        min-width: 90vw;
        font-size: 2em;   
    }
    .animations{
        margin-left:35%;
    }
    .subnews {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow:visible;
        margin-left:25px ;
    }
    .subnews .news1,
    .subnews .news2,
    .subnews .news3 {
        border: 0.001em solid #86868a;
        height: auto;
        min-width: 98vw;  
        overflow: visible;  
    }
    .subnewsimg {
        width:92vw;
        min-height: 25vh;
    }

    footer{
        min-width:104%;
        padding-top:10%;
        margin-left: 0;   
    }
    footer h2{
        margin-left: 2px;
    }
    footer p{
        margin:6px
    }
}